@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600;800&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.25;
  color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 350px;
  margin: 0;
}

.container {
  align-self: center;
}

.button {
  box-sizing: border-box;
  margin-top: 15px;
  padding: 10px, 30px;
  border: none;
  border-radius: 10px;
  background-color: #ad1818;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  width: 200px;
}

#btn2 {
  border: 2px solid white !important;
}

.button:hover {
  outline: 2px solid white;
  font-weight: 600;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Caveat", calligraphy;
  font-size: 4em;
  font-weight: 800;
  color: white;
  line-height: 0.9em;
  margin: 0;
}

h2 {
  font-family: "Caveat", calligraphy;
  font-size: 3em;
  color: #045166;
  line-height: 0.9em;
}

h3 {
  font-family: "Caveat", calligraphy;
  font-size: 3em;
  font-weight: 800;
  color: #e6261e;
  text-align: left;
}

h4 {
  color: #045166;
  text-align: right;
}

h5 {
  font-family: "Caveat", calligraphy;
  font-size: 2em;
  font-weight: 800;
  color: white;
  margin: 0px;
  text-align: left;
}

.navbar {
  background: #045166;
  margin: 0;
  border-bottom: 4px double #fff;
}

.navbar .container {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.navbar .logo {
  height: 50px;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar a {
  color: #ffff;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  flex-wrap: nowrap;
}

.navbar a:hover {
  color: #ad1818;
}

.header {
  background: #045166;
  margin: 0;
}

.header .container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5em;
  flex-wrap: wrap;
}

.hero-text {
  min-width: 330px;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex: 2;
  margin: 0;
}

.hero-text h1 {
  margin-bottom: 30px;
  word-wrap: normal;
}

.hero-text .button {
  flex: none;
}
.hero-img {
  max-width: 25%;
  min-width: 200px;
  display: flex;
  flex: 1;
  overflow-inline: center;
  margin: 0;
}

.information {
  width: 100vw;
  background: #fff;
}

.information .container {
  padding: 0px 50px 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 30px;
}

.information h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 30px 50px;
}

.container .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box img {
  object-fit: cover;
  object-position: top;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #045166;
}

.box p {
  max-width: 200px;
  text-align: center;
}

.testimonial {
  width: 100vw;
  background: #04516639;
  border-top: 8px double #045166;
  border-bottom: 8px double #045166;
}

.testimonial .container {
  max-width: 800px;
  padding: 120px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
  margin: auto;
}

.testimonial h3 {
  flex: 1;
  margin: 0;
}

.testimonial h4 {
  flex: 1;
  margin: 0;
}

.call-to-action {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action .container {
  margin: 50px;
  color: #fff;
  background-color: #ad1818;
  height: fit-content;
  width: fit-content;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 50px;
}

.disclaimer {
  color: white;
  font-size: 0.8em;
}

.footer {
  height: 72px;
  background: #eee;
  color: #045166;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
