@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600;800&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: content;
  background: #045166;
  color: white;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px double #a7cdd3;
}

.logo {
  height: 50px;
  display: flex;
  padding: 15px 20px;
}

.link-list {
  display: flex;
  align-items: center;
  padding: 20px;
}

.button {
  width: fit-content;
  background: #ad1818;
  color: white;
  border-radius: 10px;
  text-align: center;
  border-color: transparent;
  padding: 0em 3em;
  font-weight: 500;
  font-size: 1.1em;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 40px;
}

a {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

h1 {
  font-family: "Caveat", calligraphy;
  font-size: 5em;
  color: white;
  line-height: 0.9em;
  margin: 0;
}

h2 {
  font-family: "Caveat", calligraphy;
  font-size: 3em;
  line-height: 0.9em;
  margin: 0;
  text-align: center;
  color: #045166;
}

h3 {
  font-family: "Caveat", calligraphy;
  font-size: 2.5em;
  font-weight: 800;
  color: #e6261e;
  margin: 0;
  text-align: left;
}

h4 {
  text-align: right;
  color: #045166;
}

h5 {
  font-family: "Caveat", calligraphy;
  font-size: 2em;
  font-weight: 800;
  color: white;
  margin: 0;
  text-align: left;
}

.hero {
  background-color: #045166;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.hero-left {
  min-width: 400px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex: 2;
  margin: 50px;
  gap: 20px;
}

.hero-right {
  max-width: 25%;
  min-width: 200px;
  display: flex;
  flex: 1;
  overflow-inline: center;
  margin: 50px;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px, 0;
}

.information {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 50px;
}

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0, 50px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.grid-item img {
  object-fit: cover;
  object-position: top;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #045166;
}

.text {
  max-width: 200px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 50px;
}

.testimonial {
  background: #04516639;
  display: flex;
  padding: 100px 150px;
  flex-direction: column;
  justify-content: center;
  border-top: 8px double #045166;
  border-bottom: 8px double #045166;
}

.call-to-action {
  display: flex;
  flex: 1;
  padding: 4em 6em;
}

.disclaimer {
  color: white;
  font-size: 0.5em;
}

.container {
  height: 200px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: #ad1818;
  border-radius: 20px;
  padding: 10px 50px;
}

.button--border {
  width: fit-content;
  background: #ad1818;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: 3px solid white;
  padding: 0em 3em;
  font-weight: 500;
  font-size: 1.1em;
  margin-left: auto;
}

.footer {
  height: 72px;
  background: #eee;
  color: #045166;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
